<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PlcApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="UsersDB"  connectionString="Server=.\SQLEXPRESS;Database=PLC_App;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <PlcApp.Properties.Settings>
   <setting name="IsConnected" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IpAddress" serializeAs="String">
    <value>192.168.0.50</value>
   </setting>
   <setting name="Bool" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Int" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Real" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DInt" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DWord" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Word" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Rights" serializeAs="String">
    <value />
   </setting>
  </PlcApp.Properties.Settings>
 </userSettings>
</configuration>